* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    padding: 10px;
    text-align: center;
}

h1 {
    color: #f00;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card {
    margin: 10px;
    border: 2px solid #222;
    padding: 8px;
    min-width: 300px;
    min-height: 400px;
}

.picture {
    border: 1px solid #000;
}